.Btn {
  height: 36px;
  width: 136px;
  border-width: 0px;
  border: 1px solid black;
}

.img__container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png ");
  background-size: cover;
}

.search__input {
  outline: none;
  border-width: 0px;
  width: 90%;
  border: 1px solid grey;
}
.searchbar__container {
  display: flex;
  align-items: center;
}
.search__icon {
  border: 1px solid grey;
  width: 20%;
}

@media screen and (min-width: 768px) {
  .search__input {
    width: 40%;
  }
  .searchbar__container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
  }
}
